{{site.data.alerts.hr_shaded}}

<div class="footerHomeLinks">
  <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default" role="button"><i class="fa fa-github fa-lg"></i> Artefacts.help</a>
  <a target="_blank" rel="noopener" href="https://notes.qazeer.io/" class="btn btn-default" role="button"><i class="fa fa-lg"></i>InfoSec Notes</a>
  <a target="_blank" rel="noopener" href="https://qazeer.io/" class="btn btn-default" role="button"><i class="fa fa-lg"></i>qazeer.io</a>
</div>

{{site.data.alerts.hr_shaded}}

<footer>
  <div class="row">
    <div class="col-lg-12 footer">
      {{site.company_name}}<br />
      {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%Y-%m-%d"  }} <br />
    </div>
  </div>
</footer>
