<div id="commits">
  <script>
    var username = "{{ include.username }}";
    var repo = "{{ include.repo }}";

    var template_commit_html = `
    <div>
      <span><b><a href="{commit_url}" target="_blank">{message}</a></b></span><br>
      <span><i>{date}</i></span><br>
      <img src="https://avatars.githubusercontent.com/{author_name}" alt="" width="{avatar_size}" height="{avatar_size}" border-radius="50%"/>
      <span>{author_name}</span><br>
      <br>
    </div>
    `;

    jQuery.getJSON("https://api.github.com/repos/" + username + "/" + repo + "/commits", function(data) {
      $.each(data, function(idx, commit) {

        if (idx >= 5) {
          return false;
        }

        let commit_info = {
          "message": commit.commit.message,
          "commit_url": commit.html_url,
          "date": commit.commit.author.date,
          "author_name": commit.commit.author.name,
          "author_email": commit.commit.author.email.toLowerCase(),
          "avatar_size": 30,
        };

        template_parametrized = template_commit_html.replace(/{([^{}]+)}/g, function(keyExpr, key) {
          return commit_info[key] || "";
        });

        $('#commits').append(template_parametrized);
      });
    });
  </script>
</div>