---
layout: default_print
comments: true
---
<div class="post-header">
    <h1 class="post-title-main" id="{{page.permalink | replace: '/', '' }}">{{ page.title }}</h1>
</div>

<div class="post-content">

    {% if page.location %}
    <div class="location">{{ page.location | escape | replace: '\n', '<br>' }}</div>
    {% endif %}
    {% if page.default_location %}
    <div class="default_location">{{ page.default_location | escape | replace: '\n', '<br>' }}</div>
    {% endif %}
    {{ content }}
</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
